name: Daily Thirukkural Notification

on:
  schedule:
    - cron: "40 4 * * *"   # Runs daily 9 AM IST 
  workflow_dispatch:        # Allow manual trigger

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Run Script
      env:
        KURAL_API_KEY: ${{ secrets.KURAL_API_KEY }}
        WHAPI_TOKEN: ${{ secrets.WHAPI_TOKEN }}
      run: python daily_thirukural.py
